:root {
  --background-color: #ffffff;
  --user-message-color: #F0F0F0;
  --ai-message-color: #E0E0E0;
  --button-color: #3E8EDE;
  --button-hover-color: #2C2C2E;
  --text-color: #000000;
  --placeholder-color: #757575;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; /* Set the base font size for scaling */
}

.page {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial, sans-serif';
  padding: 0 1rem;
  color: #FFFFFF;
  background-color: #2C2C2E;
}

/* Top Banner Styling */
.top-banner {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  background-color: #3A3A3C;
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.top-banner a {
  color: #3E8EDE;
  text-decoration: none;
}

/* Header and Greetings */
.greeting, .header {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  color: #3F51B5;
  text-align: center;
}

.header {
  font-family: 'Times New Roman', Times, serif;
  color: #3E8EDE;
}

/* Button Group Styling */
.button-group {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 700px;
  text-align: center;
  margin-top: 35vh;
}

.button {
  background-color: #2C2C2E;
  color: #FFFFFF;
  border: 1px solid #525252;
  padding: 1rem;
  border-radius: 0.8rem;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  animation: fadeInUp 0.5s ease-out forwards;
}

@media (max-width: 600px) {
  .button-group {
    grid-template-columns: 1fr;
    margin-top: 20vh;
  }
  .header {
    font-size: 1.5rem;
  }
}

/* Message Container */
.message-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: calc(100vh - 150px);
  overflow-y: auto;
  padding-top: 100px;
  padding-bottom: 80px;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #333;
  color: white;
  padding: 8px 16px;
  border-radius: 18px;
  margin: 10px;
}

.message.user, .message.ai {
  font-size: 1.1rem;
}

/* Input Box */
.input-box-container {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: #2C2C2E;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.input-box {
  display: flex;
  align-items: center;
  background-color: #2C2C2E;
  padding: 0.5rem 1rem;
  border-radius: 22px;
  width: 100%;
  border: 1px solid #706f6f;
}

.input {
  flex: 1;
  background-color: transparent;
  border: none;
  color: #E0E0E0;
  margin-right: 1rem;
  font-size: 1rem;
  outline: none;
}

/* Send Button */
.send-button {
  background-color: transparent;
  border: none;
  color: #3E8EDE;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.send-button:hover {
  background-color: #444;
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .input-box-container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .input-box-container {
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .input-box-container {
    max-width: 50%;
  }
}

/* Logo Styles */
.top-left-logo {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  z-index: 1000;
}

.top-left-logo img {
  max-width: 100px;
  height: auto;
}

/* Keyframes for Button Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

